<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
	<header id="header" th:fragment="header">
	    <div id="header_logo">
	        <a style="text-decoration:none;" href = "/"><img src="/img/small_logo.png"><span>SPRIP</span></a>
	    </div>
<!-- 	    <span id = "userid" th:if = "${#session != null and #session.getAttribute(T(com.codingbox.sprip.member.SessionConst).LOGIN_MEMBER) != null}" 
	    th:text="${#session.getAttribute(T(com.codingbox.sprip.member.SessionConst).LOGIN_MEMBER).userid}">님</span> -->
	    <div id="header_menu">
	        <a href = "/reservation/plane">항공권예약</a>
	        <a href = "/reservation/hotel">숙소예약</a>
	        <a href = "/reservation/travelspot/1">여행지검색</a>
	        <a href = "/qna/service">고객센터</a>
	        <a th:if = "${#strings.isEmpty(session.LoginMember)}" id="header_login" href = "/members/login">로그인</a>
	        <a th:if = "${not #strings.isEmpty(session.LoginMember)}" id="header_login" href = "/members/logout">로그아웃</a>
	        <a href = "/mypage" id="header_mypage"><i class="bi bi-person-circle color_icon"></i></a>
	    </div>
	</header> 
</body>
</html>