<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <link rel="stylesheet" type="text/css" href="/css/style.css" th:href="@{/css/style.css}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">    
     <script type="text/javascript" src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
<header id="header" th:replace="~{/header :: header}"> </header> 
<main>
    <div class="mypage_title">
        <div class="mypage_title_name">
            <img src="/img/logo.png">
            <span style="color:#00BEA7" th:text="${#session.getAttribute(T(com.codingbox.sprip.member.SessionConst).LOGIN_MEMBER).userid}">USERID</span><span>님</span>
            <a>개인정보 수정<i class="bi bi-arrow-right-short"></i></a>
        </div>
        <div class="mypage_title_info">
            <div class="mypage_info_div">
                <span class="mypage_info_title">등급</span><br><span class="mypage_info_bold">VVIP</span>
            </div>
            <div class="mypage_info_div" style="color:#A99D9D; font-size:30px;margin-top:3px;">|</div>
            <div class="mypage_info_div">
                <span class="mypage_info_title">마일리지</span><br><span class="mypage_info_bold">3,500P</span>
            </div>
        </div>
    </div>
    <hr class="color_line">
    <div id="mypage_ask">
        <div class="mypage_serve_title">
            <h3><i class="bi bi-headset"></i>1:1 문의 내역</h3>
            <select class="color_select">
                <option>전체 문의</option>
                <option>진행 중인 문의</option>
                <option>완료된 문의</option>
            </select>
            <div id="mypage_ask_bar">
                <span class="ask_bar_text">답변 상태</span><span>|</span><span class="ask_bar_text">등록 날짜</span><span>|</span>
            </div>
            <hr class="color_line_light">
            <div id="mypage_ask_container">
					<div class="mypage_ask_list" th:each="qna : ${qnas}">
					 <p class="ask_blank" th:if="${#lists.isEmpty(qnas)}">아직 문의하신 내역이 없습니다.</p>
						<span class="ask_list_left" th:text="${qna.qnaid}">1</span> <span class="ask_list_left"
							th:text="${qna.qnatitle}" style="width:350px; text-align:left;">문의 제목</span> <span
							class="ask_list_right" style="color: #00BEA7">답변 대기중</span> <span
							class="ask_list_right"
							th:text="${#temporals.format(qna.createdDate, 'yyyy-MM-dd')}">2050-05-05</span>
						<div style="clear: both;"></div>
					</div>
				</div>
        </div>
    </div>
</main>
<footer>
</footer>
</body>
</html>